@import '~@angular/material/theming';

@include mat-core();

$sr-lime: (
    50 : #e0f1e8,
    100 : #b3dcc5,
    200 : #80c49e,
    300 : #4dac77,
    400 : #269b5a,
    500 : #00893d,
    600 : #008137,
    700 : #00762f,
    800 : #006c27,
    900 : #00591a,
    A100 : #8bffa1,
    A200 : #58ff78,
    A400 : #25ff4e,
    A700 : #0bff3a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$sr-blue: (
    50 : #e6f2fa,
    100 : #c1dff2,
    200 : #98cae9,
    300 : #6fb4e0,
    400 : #50a4da,
    500 : #3194d3,
    600 : #2c8cce,
    700 : #2581c8,
    800 : #1f77c2,
    900 : #1365b7,
    A100 : #e8f3ff,
    A200 : #b5d7ff,
    A400 : #82bcff,
    A700 : #69aeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);


$primary: mat-palette($sr-lime);
$accent: mat-palette($sr-blue);
$warn: mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

$background-color: #DDE3E6;
$body-font-color : #606060;
$toolbar-height: 4em;
$content-padding: 1em;
$content-card-vertical-padding: 1.5em;
$content-card-horizontal-padding: 3em;

$state-colors: (
    ok: #0EBC5B,
    warn: #F7B500,
    error: #E02020,
);

@mixin sr-scrollbar($width: 0.5rem, $color: rgba(0,0,0,.26)) {
    &::-webkit-scrollbar {
        height: $width;
        width: $width;
    }
    
    &::-webkit-scrollbar-thumb {
        background: $color;
    }
}
