@import 'src/theme';

:host {
    height: 100%;
    overflow-x: auto;
    @include sr-scrollbar();
}

main {
    padding: $content-padding;
    margin-left: 100px;
}

mat-card {
    min-width: 100%;
    padding: $content-card-vertical-padding calc(#{$content-card-horizontal-padding / 2}) $content-card-vertical-padding $content-card-horizontal-padding;
}

#content-container {
    min-height: calc(100vh - #{$toolbar-height} - #{2 * $content-padding} - #{2 * $content-card-vertical-padding}) !important;
    height: 100%;
}

::ng-deep .ps-content {
    height: 100%;
    padding-right: calc(#{$content-card-horizontal-padding / 2});
}
