<main fxFlex fxLayoutAlign="stretch">
    <mat-card>
        <perfect-scrollbar #scrollbar>
            <div id="content-container" fxLayout="column">
                <ng-content></ng-content>
            </div>
        </perfect-scrollbar>
    </mat-card>
</main>
