@import 'src/theme';

:host {
    z-index: 10;
}

nav {
    position: fixed;
    height: 100%;
}

ul {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

li {
    height: 4rem;
    border-left: #FFFFFF 0.5rem solid;
    font-family: 'BebasNeue';
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

li:hover:not(.active) {
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}

li > span {
    padding-right: 3rem;
    margin-left: -0.5rem;
    white-space: nowrap;
}

.active {
    background-color: mat-color($primary, 0.87);
    color: #FFFFFF;
    border-left: mat-color($primary) 0.5rem solid;
}

fa-icon {
    width: 3.5rem;
    text-align: center;
    margin-right: 0.5rem;
}
