<nav class="mat-elevation-z6">
    <ul fxLayout="column" fxLayoutAlign="start stretch">
        <li fxLayout="row" fxLayoutAlign="start center" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #rlaHome="routerLinkActive">
            <fa-icon [icon]="rlaHome.isActive ? icons.homeSolid : icons.homeLight"></fa-icon>
            <span *ngIf="navigationOpen">{{ 'navigation.home' | translate }}</span>
        </li>
        <li fxLayout="row" fxLayoutAlign="start center" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #rlaAnalysis="routerLinkActive">
            <fa-icon [icon]="rlaAnalysis.isActive ? icons.chartPieSolid : icons.chartPieLight"></fa-icon>
            <span *ngIf="navigationOpen">{{ 'cost-analysis.title' | translate }}</span>
        </li>
        <li fxLayout="row" fxLayoutAlign="start center" routerLink="/users" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #rlaAnalysis="routerLinkActive">
            <fa-icon [icon]="rlaAnalysis.isActive ? icons.filePdfSolid : icons.filePdfSolid"></fa-icon>
            <span *ngIf="navigationOpen">{{ 'cost-analysis.title' | translate }}</span>
        </li>
        <div fxFlex></div>
        <li fxLayout="row" fxLayoutAlign="start center" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" #rlaAnalysis="routerLinkActive">
            <fa-icon [icon]="rlaAnalysis.isActive ? icons.chartPieSolid : icons.chartPieLight"></fa-icon>
            <span *ngIf="navigationOpen">{{ 'cost-analysis.title' | translate }}</span>
        </li>
    </ul>
</nav>
