
@import 'src/theme';

#wrapper {
  height: calc(100% - #{$toolbar-height});
  display: flex;
}

main {
  padding: 1rem;
}

mat-card {
  width: 100%;
  overflow: hidden;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}
