<header>
    <mat-toolbar class="mat-elevation-z2">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="40">
            <h4>{{ applicationName }}</h4>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex="20">
            <img routerLink="/" src="assets/logo.jpg">
        </div>

        <div fxLayout="row" fxLayoutAlign="end center" fxFlex="40">
            <mat-select [(value)]="language" (valueChange)="onSelectLanguage($event)">
                <mat-option *ngFor="let language of languages" [value]="language">{{ 'languages.' + language | translate }}</mat-option>
            </mat-select>
        </div>
    </mat-toolbar>
</header>
