@import 'src/theme';

header {
    height: $toolbar-height;
}

.mat-toolbar {
    background-color: #FFFFFF;
    position: fixed;
    z-index: 20;
}

.mat-toolbar h4 {
    font-family: 'BebasNeue';
    font-size: 2.125rem;
    line-height: 2.5rem;
    letter-spacing: 0.016rem;
    margin: 0.15em 0 0 1.5em;
}

img {
    height: $toolbar-height - 1em;
    cursor: pointer;
    outline: none;
    visibility: hidden;
}

@media (min-width: 55em) {
    img {
        visibility: visible;
    }
}

mat-select {
    width: 3em;
    text-align: right;
    color: #A9B1B6;
    padding: 0 0.5em;
}

::ng-deep .mat-select-arrow {
    border: none !important;
}
